{% extends "b2d/base.html" %}
{% block content %}
{% load static %}
<div class="container mt-4">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-8">
                <img src="{% static 'images/Salmon_Lake.png' %}" class="img-fluid rounded-start" alt="{{ business.name }} Image" style="width: 1000px; height: 300px;">
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h1 class="card-title">{{ business.name }}</h1>
                    <p class="card-text">{{ business.description }}</p>
                    {% with fundraisings.last as fundraise %}
                    <h3 class="card-text">Raised: ${{ fundraise.get_current_investment|default:"0" }}</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ fundraise.get_current_investment|floatformat:2 }}%;" aria-valuenow="{{ fundraise.get_current_investment }}" aria-valuemin="0" aria-valuemax="{{ fundraise.goal_amount }}"></div>
                    </div>
                    <button class="btn btn-dark invest-button mt-3">Invest in {{ business.name }}</button>
                    {% endwith %}
                </div>
            </div>
        </div>

        <!-- Fundraising additional details -->
        <div class="row text-center card-content-text p-0 m-0">
            {% with fundraisings.last as fundraise %}
            <div class="col-sm-3 pt-2">
                <h5>{{ fundraise.investment_set.count }}</h5>
                <p>Investors</p>
            </div>
            <div class="col-sm-3 pt-2" style="border-left: 2px solid white;">
                <h5>{{ fundraise.deadline_date|date:"d M Y" }}</h5>
                <p>left to invest</p>
            </div>
            <div class="col-sm-3 pt-2" style="border-left: 2px solid white;">
                <h5>${{ fundraise.goal_amount }}</h5>
                <p>Funding goal</p>
            </div>
            <div class="col-sm-3 pt-2" style="border-left: 2px solid white;">
                <h5>${{ fundraise.minimum_investment|default:"0" }}</h5>
                <p>Minimum invest</p>
            </div>
            {% endwith %}
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h3 class="card-title">Problem</h3>
            <p class="card-text">Global markets often face a shortage of high-quality salmon due to seasonal fluctuations, regional availability, and sustainability concerns...</p>

            <h3 class="card-title">Product</h3>
            <p class="card-text">Salmon Lake aims to provide a consistent, sustainable supply of high-quality salmon to international markets...</p>

            <h3 class="card-title">Taxing</h3>
            <p class="card-text">Revenue projections, profit expectations, and financial data for the business can be shown here.</p>
        </div>
    </div>
</div>
{% endblock %}
