{% extends "b2d/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salmon Lake Investment Opportunity</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .card {
            margin-top: 20px;
        }
        .invest-button {
            background-color: #000;
            color: #fff;
            border: none;
            width: 100%;
            height: 60px;

        }
        .team-card img {
            border-radius: 5px;
        }
        .team-card {
            text-align: center;
            margin-bottom: 20px;
            background-color: white;
        }
        .team-card h5 {
            margin-top: 10px;
        }
        .progress-bar {
            background-color: #28a745;
        }
        .card-content-text {
            background-color: #353535;
        }

        .card-content-text h5 {
            color: white;
        }

        .card-content-text p {
            color: white;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-8">
                <img src="{% static 'images/Salmon_Lake.png' %}" class="img-fluid rounded-start" alt="Salmon Lake Image" style="width: 1000px; height: 300px;">
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h1 class="card-title">Salmon Lake</h1>
                    <p class="card-text">Revolutionizing sustainable seafood with premium, farm-raised salmon from our state-of-the-art, eco-friendly aquaculture systems.</p>
                    <h3 class="card-text">$127,000</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 18%;" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <button class="btn btn-dark invest-button mt-3">Invest in Salmon Lake</button>
                </div>
            </div>
            <div class="row text-center card-content-text p-0 m-0">
                <div class="col-sm-3 pt-2">
                    <h5>12</h5>
                    <p>Investors</p>
                </div>
                <div class="col-sm-3 pt-2" style="border-left: 2px solid white;">
                    <h5>31 days</h5>
                    <p>left to invest</p>
                </div>
                <div class="col-sm-3 pt-2" style="border-left: 2px solid white;">
                    <h5>$1.2M</h5>
                    <p>Funding goal</p>
                </div>
                <div class="col-sm-3 pt-2" style="border-left: 2px solid white;">
                    <h5>$1000</h5>
                    <p>Minimum invest</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row g-0">
            <div class="card-body col-md-8">
                <h3 class="card-title"><u>Problem</u></h3>
                <p class="card-text">Global markets often face a shortage of high-quality salmon due to seasonal fluctuations, regional availability, and sustainability concerns. This affects not only direct consumers but also restaurants and retailers who rely on consistent supply for their operations.</p>
                <h3 class="card-title"><u>Product</u></h3>
                <p class="card-text">Salmon Lake aims to provide a consistent, sustainable supply of high-quality salmon to international markets. Utilizing eco-friendly aquaculture practices, the company will offer fresh, frozen, and smoked salmon, ensuring high nutritional value and exceptional taste, meeting the diverse needs of global customers.</p>
                <h3 class="card-title"><u>Taxing</u></h3>
                <ul>
                    <li>Startup Costs: Initial Investment Required: $2,000,000</li>
                    <li>Revenue Projections:
                        <ul>
                            <li>Year 1: $500,000</li>
                            <li>Year 2: $1,500,000</li>
                            <li>Year 3: $3,000,000</li>
                        </ul>
                    </li>
                    <li>Profitability:
                        <ul>
                            <li>Year 1: Break-even expected towards the end of the year.</li>
                            <li>Year 2 and Year 3: Significant increase in profitability as operations scale and market penetration deepens.</li>
                        </ul>
                    </li>
                    <li>Cash Flow (Year 1): Net Cash Flow: Initial year sees investment in setting up operations with expectations to stabilize cash flow in subsequent years.</li>
                </ul>
                <h5 class="card-title"><u>Location</u></h5>
                <p class="card-text">The company will be based near coastal regions with access to pristine water conditions ideal for salmon farming. This strategic location facilitates easy export logistics and ensures the freshness of the salmon delivered to various markets. The proximity to major shipping routes will also reduce transportation costs and environmental impact.</p>
                <h5 class="card-title"><u>Founder</u></h5>
                <p class="card-text">The founder, Alex Morgan, is an experienced aquaculture specialist with over a decade of experience in marine biology and sustainable fishing practices. Alex's vision for Salmon Lake is to merge traditional aquaculture with innovative technologies to set new standards for sustainability and quality in the salmon industry.</p>
            </div>

            <div class="col-md-4 ">
                <div class="team-content m-4 rounded pt-4 pb-4" style="background: rgba(128, 123, 123, .3); border">
                    <div style="text-align: center;">
                        <h3><u>Team</u></h3>
                    </div>
                    <div class="team-card mx-5 p-3 rounded-3">
                        <div>
                            <img src="{% static 'images/Ceo.png' %}" class="img-fluid" alt="CEO" style="width: 200px; height:150px;">
                        </div>
                        <h5>James Bond</h5>
                        <p>CEO</p>
                    </div>
                    <div class="team-card mx-5 p-3 rounded-3">
                        <img src="{% static 'images/Vp.png' %}" class="img-fluid" alt="VP, Account Management" style="width: 200px; height:150px;">
                        <h5>Caroline Jeffrey</h5>
                        <p>VP, Account Management</p>
                    </div>
                    <div class="team-card mx-5 p-3 rounded-3">
                        <img src="{% static 'images/Am.png' %}" class="img-fluid" alt="Head of Customer Support" style="width: 200px; height:150px;">
                        <h5>Brown Long</h5>
                        <p>Head of Customer Support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}