{% extends 'b2d/base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- image slide -->
    <div id="mainCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for item in carousel_businesses %}
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                        {% if forloop.first %}class="active" aria-current="true"{% endif %}
                        aria-label="Slide {{ forloop.counter1 }}"></button>
            {% endfor %}
        </div>

        <div class="carousel-inner">
            {% for business in carousel_businesses %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="https://{{ settings.AWS_S3_CUSTOM_DOMAIN }}/business_docs/{{ business.id }}/photo1.jpg"
                         class="d-block w-100 img_slide" alt="{{ business.name }}">
                    <div class="carousel-caption">
                        <h1 class="animated fadeInRight">{{ business.name }}</h1>
                        <p class="animated fadeInRight">{{ business.description }}</p>
                        <a href="{% url 'b2d:business_detail' business.id %}"
                           class="btn btn-transparent btn-rounded btn-large">Learn More</a>
                    </div>
                </div>
            {% empty %}
                <div class="carousel-item active">
                    <p>No current investment opportunities.</p>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#mainCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#mainCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <!--  Top deals sections  -->
    <div class="container my-5">
        <h2 class="text-left" style="font-style:bold;">TOP DEAL</h2>
        <p class="text-left" style="color:#585757;">The deals attracting the most interest right now</p>
        <div class="row">
            {% for business in card_businesses %}
                <div class="col-md-4 mb-5">
                    <div class="card mx-4 border border-2"
                         onclick="location.href='{% url 'b2d:business_detail' business.id %}';"
                         style="cursor: pointer;">
                        <div class="card-img">
                            <img src="https://{{ settings.AWS_S3_CUSTOM_DOMAIN }}/business_docs/{{ business.id }}/photo1.jpg"
                                 class="card-img-top" alt="{{ business.name }}">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ business.name }}</h3>
                            {% if business.category %}
                                <span class="badge bg-light border border-secondary mr-1 mb-2"
                                      style="color:black;">{{ business.category.category_name }}</span>
                            {% endif %}
                            <div class="card-body-info">
                                <p class="card-text card-summary">{{ business.description|slice:":80" }}...</p>
                            </div>
                            <div class="card-details">
                                <p class="card-text">{{ business.description }}</p>
                                {% with business.fundraising_set.last as fundraise %}
                                    <div class="progress mb-3" role="progressbar"
                                         style="height: 10px; background-color: #E2D9D9;">
                                        <div class="progress-bar"
                                             style="width: {{ fundraise.get_percentage_investment }}%; background-color: #41F400;"></div>
                                    </div>

                                    <p></p>
                                    <div class="text-underline mb-3">
                                        <h5><strong>Raised:</strong> ${{ fundraise.get_current_investment|default:"0" }}
                                        </h5>
                                    </div>
                                    <div class="text-underline mb-3">
                                        <h5><strong>Target:</strong> ${{ fundraise.goal_amount|default:"0" }}</h5>
                                    </div>
                                    <div>
                                        <h5><strong>Investors:</strong> {{ fundraise.get_current_investors|default:"0" }}
                                        </h5>
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col text-center pt-5" style="height:600px">
                    <h4>No businesses found.</h4>
                </div>
            {% endfor %}
        </div>
        <div class="row my-4  mx-4">
            <div class="text-center">
                <a href="{% url 'b2d:search_page' %}" class="btn btn-dark col-md-4 seeMore">View More Fundraising Campaigns</a>
            </div>
        </div>
    </div>

{% endblock %}

