{% extends 'b2d/base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'css/search_page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Investment Opportunities</h1>
        <!--   Filter Option   -->
        <div class="row mb-4">
            <div class="col pb-2" style="border-bottom: 1px solid #545454;">
                <form method="get" action="" class="form-inline">
                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                    <div class="d-flex row">
                        <div class="col">
                            <p style="font-size:20px; font-weight: 100;">Browse current investment opportunities</p>
                        </div>
                        <div class="form-group mx-1 row col-lg-3">
                            <div class="col-4 p-0 pt-1">
                                <label for="category"><h5 class="text-center">Category:</h5></label>
                            </div>
                            <div class="col px-1">
                                <select name="category" id="category" class="form-control"
                                        onchange="this.form.submit()">
                                    <option value="">All Categories</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}"
                                                {% if category.id|stringformat:"s" == request.GET.category %}selected{% endif %}>
                                            {{ category.category_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group mx-1 row col-lg-3">
                            <div class="col-4 p-0 pt-1">
                                <label for="sort"><h5 class="text-center">Sort By:</h5></label>
                            </div>
                            <div class="col px-1">
                                <select name="sort" id="sort" class="form-control" onchange="this.form.submit()">
                                    <option value="trending"
                                            {% if request.GET.sort == "trending" %}selected{% endif %}>Trending
                                    </option>
                                    <option value="most_recent"
                                            {% if request.GET.sort == "most_recent" %}selected{% endif %}>Most Recent
                                    </option>
                                    <option value="most_investors"
                                            {% if request.GET.sort == "most_investors" %}selected{% endif %}>Most Investors
                                    </option>
                                    <option value="min_invest"
                                            {% if request.GET.sort == "min_invest" %}selected{% endif %}>Minimum Invest
                                    </option>
                                    <option value="coming_close"
                                            {% if request.GET.sort == "coming_close" %}selected{% endif %}>Coming Close
                                    </option>

                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <!--   Business card   -->
            {% for business in businesses %}
                <div class="col-md-4 mb-5">
                    <div class="card mx-4 border border-2"
                         onclick="location.href='{% url 'b2d:business_detail' business.id %}';"
                         style="cursor: pointer;">
                        <div class="card-img">
                            <img src="https://{{ settings.AWS_S3_CUSTOM_DOMAIN }}/business_docs/{{ business.id }}/photo1.jpg"
                                 class="card-img-top" alt="{{ business.name }}">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ business.name }}</h3>
                            {% if business.category.exists %}
                                <div class="mb-2">
                                    {% for category in business.category.all %}
                                        <span class="badge bg-light border border-secondary mr-1 mb-1"
                                              style="color:black;">{{ category.category_name }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="card-body-info">
                                <p class="card-text card-summary">{{ business.description|slice:":80" }}...</p>
                            </div>
                            <div class="card-details">
                                <p class="card-text">{{ business.description }}</p>
                                {% with business.fundraising_set.last as fundraise %}
                                    <div class="progress mb-3" role="progressbar"
                                         style="height: 10px; background-color: #E2D9D9;">
                                        <div class="progress-bar"
                                             style="width: {{ fundraise.get_percentage_investment }}%; background-color: #41F400;"></div>
                                    </div>

                                    <p></p>
                                    <div class="text-underline mb-3">
                                        <h5><strong>Raised:</strong> ${{ fundraise.get_current_investment|default:"0" }}
                                        </h5>
                                    </div>
                                    <div class="text-underline mb-3">
                                        <h5><strong>Target:</strong> ${{ fundraise.goal_amount|default:"0" }}</h5>
                                    </div>
                                    <div>
                                        <h5><strong>Investors:</strong> {{ fundraise.get_current_investors|default:"0" }}
                                        </h5>
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col text-center pt-5" style="height:600px">
                    <h4>No businesses found.</h4>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



