{% extends 'b2d/base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <!-- Invest card content -->
    <div class="card m-4 p-4 shadow">
        <div class="mb-3" style="border-bottom: 1px solid #545454;">
            <h1 class="fw-medium">Invest in {{ fundraise.business.name }}</h1>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="row">
                <!-- Card left-side -->
                <div class="col-lg-4 text-center">
                    <!-- QR Transfer -->
                    <div class="mb-3">
                        <h5 class="fw-medium">Scan the QR Code to Make Your Transfer</h5>
                    </div>
                    <div>
                        <img src="{% static 'images/qrcode.png' %}" alt="Transaction QR" class="img-thumbnail mb-4 shadow-sm"
                             style="width:300px; height:auto;">
                    </div>
                </div>
                <!-- Card right-side -->
                <div class="col-lg-8">
                    {% csrf_token %}

                    <!-- Number of Shares -->
                    <div class="mb-3">
                        <div class="mb-3" style="border-bottom: 1px solid #545454;">
                            <label for="number_of_shares" class="form-label fw-medium fs-4">
                                Number of Shares (Minimum: {{ min_shares }} , Maximum: {{ max_shares }})
                            </label>
                        </div>
                        <input type="number" name="shares" id="number_of_shares" class="form-control"
                               placeholder="Enter number of shares"
                               min="{{ min_shares }}" max="{{ max_shares }}" required>
                    </div>

                    <!-- Calculated Amount -->
                    <div class="mb-3">
                        <div class="mb-3" style="border-bottom: 1px solid #545454;">
                            <label for="amount" class="form-label fw-medium fs-4">Calculated Amount ($)</label>
                        </div>
                        <input type="text" name="amount" id="amount" class="form-control" placeholder="Investment amount will be calculated" readonly>
                    </div>

                    <!-- Date and Time -->
                    <div class="mb-3">
                        <div class="mb-3" style="border-bottom: 1px solid #545454;">
                            <label for="investment_datetime" class="form-label fw-medium fs-4">Date and Time of Transfer</label>
                        </div>
                        {{ form.investment_datetime }} <!-- Use form widget -->
                    </div>

                    <!-- File Upload -->
                    <div class="mb-3">
                        <div class="mb-3" style="border-bottom: 1px solid #545454;">
                            <label for="transaction_slip" class="form-label fw-medium fs-4">Upload Transaction Slip</label>
                        </div>
                        <input type="file" name="transaction_slip" class="form-control" id="transaction_slip" required>
                    </div>

                    <!-- Captcha -->
                    <div class="mb-3">
                        <div class="mb-3" style="border-bottom: 1px solid #545454;">
                            <label for="captcha" class="form-label fw-medium fs-4">Captcha</label>
                        </div>
                        {{ form.captcha }}
                    </div>
                </div>
            </div>

            <!-- Checkbox -->
            <div class="form-check mb-4 d-flex justify-content-center">
                <input class="form-check-input mx-2 mt-2" type="checkbox" value="" id="agreementCheck" required>
                <label class="form-check-label fs-5" for="agreementCheck">
                    I have read and agree to the <a href="#" class="text-decoration-underline" data-bs-toggle="modal" data-bs-target="#investment-agreement">investment agreement</a>
                </label>
                <!-- Modal -->
                <div class="modal fade" id="investment-agreement" tabindex="-1" aria-labelledby="investment_agreement" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Investment agreement</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                This Investment Agreement is made and entered on today (the “Effective Date”), between (“Investor”), and {{ fundraise.business.name }} (“Business”).
                                <hr>
                                <h5><strong>AGREEMENTS</strong><br></h5>
                                The parties hereby agree as follows:<br>
                                <strong>1. Investment</strong><br>
                                Within the Effective Date, Investor shall remit to Business the agreed-upon investment.<br>
                                <br>
                                <strong>2. Equity Issuance</strong><br>
                                In return for the Investment, Business agrees to issue Investor the following equity:<br>
                                <ol>
                                    <li><strong>Preferred Stock:</strong> Shares of Series A Preferred Stock with the following rights and benefits:</li>
                                    <ul>
                                        <li>Voting Rights: Protect the investor’s interest in major corporate decisions.</li>
                                        <li>Dividend Preferences: Offer predictable financial returns and priority over common stock.</li>
                                        <li>Liquidation Preferences: In the event of liquidation, Series A Preferred Stockholders will receive their investment before any distribution to common stockholders.</li>
                                        <li>Anti-Dilution Protection: Adjustments to the preferred stockholder's equity in the event of down-round funding.</li>
                                    </ul>
                                    <li><strong>Common Stock:</strong> Shares of common stock with standard voting rights and economic benefits.</li>
                                </ol>
                                <strong>3. Use of Funds</strong><br>
                                Business shall use the Investment solely for the development and commercialization of the Project, including but not limited to:<br>
                                <ol>
                                    <li>Hiring qualified personnel.</li>
                                    <li>Improving technology infrastructure.</li>
                                    <li>Marketing and promotional activities.</li>
                                </ol>
                                The Business shall provide Investor with quarterly reports detailing the allocation and impact of funds.<br>
                                <br>
                                <strong>4. Governance and Investor Rights</strong><br>
                                Investor shall be entitled to the following:<br>
                                <ol>
                                    <li>Board Representation: The right to appoint members to the Board of Directors.</li>
                                    <li>Observer Rights: The right to attend board meetings as a non-voting observer if no board seat is held.</li>
                                    <li>Information Rights: Regular financial updates, including quarterly and annual reports.</li>
                                </ol>
                                <strong>5. Exit Rights</strong><br>
                                Investor shall have the right to sell its Equity as follows:<br>
                                <ul>
                                    <li><strong>Preferred Stock:</strong></li>
                                    <ul>
                                        <li>May be sold after a lock-in period of five 5 years, subject to the Business’s right of first refusal.</li>
                                    </ul>
                                    <li><strong>Common Stock:</strong></li>
                                    <ul>
                                        <li>May be sold without restrictions after a lock-in period of three 3 years.</li>
                                    </ul>
                                </ul>
                                <strong>6. Confidentiality and Publicity</strong><br>
                                Neither party may disclose the terms of this Agreement without prior written consent, except where required by law or regulation.<br>
                                <br>
                                <strong>7. Binding Agreement and Assignment</strong><br>
                                This Agreement shall bind and benefit the parties and their successors and permitted assigns. Neither party may assign this Agreement without prior written consent, except in the case of mergers or acquisitions.<br>
                                <br>
                                <strong>8. Entire Agreement, Headings, and Modification</strong><br>
                                This Agreement constitutes the entire understanding between the parties. Modifications or amendments must be made in writing and signed by both parties.<br>
                                <br>
                                <strong>9. Choice of Law</strong><br>
                                This Agreement shall be governed by and construed in accordance with the laws of Thailand, without regard to its conflict of law principles.<br>
                                <br>
                                <strong>10. Severability</strong><br>
                                If any provision of this Agreement is deemed invalid or unenforceable, the remaining provisions shall remain in full force and effect.<br>
                                <br>
                                <strong>11. Dispute Resolution</strong><br>
                                Any disputes arising from or in connection with this Agreement shall be resolved through arbitration in Thailand, under the rules of the Thai Arbitration Institute.<br>
                                <br>
                                <strong>12. Counterparts</strong><br>
                                This Agreement may be executed in counterparts, all of which shall constitute a single agreement.<br>
                                <br>
                                <hr>
                                <strong>IN WITNESS WHEREOF</strong>, the parties have executed this Agreement as of today.
                                <br>
                                <div class="text-center mt-2">
                                    <img src="{% static 'images/logo.png' %}" alt="B2D Ventures" width="200px" height="auto">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark btn-lg fw-light fs-3 w-75 shadow-sm">Submit Investment</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('number_of_shares').addEventListener('input', function () {
        const pricePerShare = {{ fundraise.get_price_per_share|floatformat:2 }};
        const numberOfShares = parseInt(this.value) || 0;
        const amount = numberOfShares * pricePerShare;
        document.getElementById('amount').value = amount.toFixed(2);
    });
</script>
{% endblock %}
