.container-fluid {
    border-bottom: 2px solid #D9D9D9;
}

.search-form {
    display: flex;
    align-items: center;
    width: 40%;
    border-radius: 50px;
    border: 1px solid #000;
    padding: 1px 10px;
    box-sizing: border-box;
}

.search-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    padding-left: 10px;
    font-size: 20px;
    color: #333;
    outline: none;
}

.search-icon {
    color: #333;
    padding-right: 10px;
}

@media only screen and (max-width: 1000px) {
    .search-form {
        width: 100%;
    }
}

.search-icon i {
    font-size: 18px;
}

.search-input::placeholder {
    color: #666;
}

.businessesDropdown {
    margin-left:20px;
}

@media only screen and (max-width: 1000px) {
    .businessesDropdown {
        margin-left:0px;
    }
}

@media only screen and (max-width: 991px) {
    .login-btn{
        width:30%;
        margin-top:10px;
        margin-bottom:10px;
    }
}